@import 'compass';
@import '../base/variables';

.footer {
  clear: both;
  background: image_url($footer-background) no-repeat;
  height: image_height($footer-background);
  width: 100%;
  position: absolute;
  z-index: 10;

//  margin-top: 50px;
}

.above-footer-container {
  width: $central-width;
  margin: 50px auto 0;
  height: 150px;
//      padding: 5px;
  padding: 0;
}

.above-footer-section {
  display: inline-block;
  height: 100%;
  width: (($central-width / 2) - 5px);
//  border: 1px solid #000000;
  margin: 0;
  padding: 0 20px;

  overflow: hidden;
  text-overflow: ellipsis;
}
