@import 'compass';
@import '../base/variables';

.footer {
  background: image-url($footer-background) no-repeat;
  clear: both;
  height: image-height($footer-background);
  position: absolute;
  width: 100%;
  z-index: 10;

//  margin-top: 50px;
}

.above-footer-container {
  height: 150px;
  margin: 50px auto 0;
  //      padding: 5px;
  padding: 0;
  width: $central-width;
}

.above-footer-section {
  display: inline-block;
  height: 100%;
//  border: 1px solid #000000;
  margin: 0;
  overflow: hidden;
  padding: 0 20px;
  text-overflow: ellipsis;
  width: (($central-width / 2) - 5px);
}
