@import 'compass';
@import '../base/variables';
@import '../utils/mixins';

.header {
  background: image-url($header-background) no-repeat top left;
  clear: both;
  height: image-height($header-background);
  position: relative;
  width: 100%;
  z-index: 10;

  &::after {
    @include wave-after(top);
  }
}

.sub-header {
  @include box-shadow(15px 15px 15px 0 rgba(#000, .4) inset);

  background: image-url($sub-header-background) repeat-x;
  clear: both;
  height: $sub-header-height;
  position: relative;

  z-index: 5;

  &::after {
    @include wave-after(top);
  }
//  padding: 50px auto;
}

.help {
  @include border-radius(20px);
  @include single-box-shadow(5px, 5px, 25px);

  background-color: rgba(#fff, .75);
  // border: 2px dotted darken(#DFF2EC, 50%);
  margin: 30px auto 0;
  padding: 20px;
  width: $central-width;

  z-index: 5;
}
