@import 'compass';
@import '../base/variables';
@import '../utils/mixins';

.header {
  clear: both;
  background: image-url($header-background) no-repeat top left;
  width: 100%;
  height: image_height($header-background);
  position: relative;
  z-index: 10;

  &::after {
    @include wave-after(top);
  }
}

.sub-header {
  background: image-url($sub-header-background) repeat-x;
  position: relative;
  height: $sub-header-height;
  clear: both;

  z-index: 5;
  @include box-shadow(15px 15px 15px 0px rgba(0,0,0,0.4) inset);

  &::after {
    @include wave-after(top);
  }

//  padding: 50px auto;
}

.help {
  width: $central-width;
  border: 2px dashed #FBDC87;
  margin: 20px auto 0 auto;

  z-index: 5;

  padding: 20px 20px;
  @include border-radius(20px);;
}