{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block help %}
  <strong>Exchanging</strong> <br/>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque cupiditate dolores ea earum eos et inventore minus placeat praesentium provident quam quod, rerum similique tenetur ut veniam vitae voluptate?
{% endblock %}

{% block content %}
  <h2>Withdrawal GC -> Investment GC</h2>

  Withdrawal <b>{{ user.profile.balance_w|floatformat:"0" }}</b> {{ game_currency }}. Bonus percent <b>{{ w_to_i_conversion_bonus_percent }}%</b>
  <br/><br/>
  Exchanging all will get you <b style="font-size: x-large">{{ would_receive|floatformat:"3" }}</b> {{ game_currency }} !!!

  {#  Investment <b>{{ user.profile.balance_i|floatformat:"0" }}</b> {{ game_currency }}. <br/>#}

  <br/><br/>

  <form action="" method="post">{% csrf_token %}
    {% bootstrap_form form %}
    <b style="color: red">{{ form.non_field_errors }}</b>
    <input type="submit" class="btn btn-lg btn-success" value="Exchange" />
  </form>

  <br/><br/>
  {% if w2i_exchange_history %}
    Last 10
    <table class="table table-hover table-condensed">
      <thead>
      <td><b>timestamp</b></td>
      <td><b>ex W</b></td>
      <td><b>got I ({{ game_currency }})</b></td>
      </thead>
      {% for ex in w2i_exchange_history %}
        <tr>
          <td>{{ ex.timestamp|date:"Y-m-d H:i:s" }}</td>
          <td class="numeric">{{ ex.data.gc_exchanged|floatformat:"3" }}</td>
          <td class="numeric">{{ ex.amount|floatformat:"3" }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You haven't bought any yet</p>
  {% endif %}


{% endblock %}