{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <h2>Referrals list</h2>

    {% if user_referred_accounts %}
      Total <b>{{ user_referred_accounts|length }}</b>
      <table style="width: 90%;text-align: center;font-size: smaller">
        <thead>
            <td><b>date joined</b></td><td><b>account</b></td>
        </thead>
        {% for referred in user_referred_accounts %}
            <tr>
                <td>{{ referred.date_joined|date:"Y-m-d H:i" }}</td>
                <td>{{ referred.email }}</td>
            </tr>
        {% endfor %}
      </table>
    {% else %}
        <p>Nobody has signed up with your referal links yet</p>
    {% endif %}
{% endblock %}