{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
  <h2>Referrals Stats</h2>

  <h4>Referral Stats</h4>
  {% if referral_stats %}
    <table class="data-table">
      <thead>
        <td><b>source</b></td>
        <td><b>campaign</b></td>
        <td><b>signups</b></td>
        <td><b>payments</b></td>
        <td><b>your bonus</b></td>
      </thead>
      {% for rs in referral_stats %}
        <tr>
          <td>{{ rs.ref_source|default:"<i>&lt;none&gt;</i>" }}</td>
          <td>{{ rs.ref_campaign|default:"<i>&lt;none&gt;</i>" }}</td>
          <td>{{ rs.signups }}</td>
          <td>{{ rs.count_payments }}</td>
          <td>{{ rs.amount_paid|default_if_none:"0"|floatformat:"2" }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    No stats yet
  {% endif %}

{#  <br/>#}
{#  <h4>By signups</h4>#}
{#  {% if referral_signup_stats %}#}
{#    <table class="data-table">#}
{#      <thead>#}
{#      <td><b>source</b></td>#}
{#      <td><b>campaign</b></td>#}
{#      <td><b>signups</b></td>#}
{#      </thead>#}
{#      {% for rs in referral_signup_stats %}#}
{#        <tr>#}
{#          <td>{{ rs.ref_source }}</td>#}
{#          <td>{{ rs.ref_campaign }}</td>#}
{#          <td>{{ rs.signups }}</td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </table>#}
{#  {% else %}#}
{#    No stats yet#}
{#  {% endif %}#}

  <br/>

  {% if user_referred_accounts %}
    Total <b>{{ user_referred_accounts|length }}</b>. Here are the last 10.
    <table class="data-table">
      <thead>
      <td><b>date joined</b></td><td><b>account</b></td>
      </thead>
      {% for referred in user_referred_accounts|slice:":10" %}
        <tr>
          <td>{{ referred.date_joined|date:"Y-m-d H:i" }}</td>
          <td>{% if referred.profile.nickname %}{{ referred.profile.nickname}}{% else %}{{ referred.email|truncatechars:"10" }}{% endif %}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Nobody has signed up with your referal links yet</p>
  {% endif %}
{% endblock %}