{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
  <h2>Sell coins for <b>{{ game_currency }}</b></h2>

  You have <b>{{ user.profile.balance_coins|floatformat:"1" }}</b> total coins right now. <br/>
  Rate <b>{{ coin_to_gc_rate }}</b> coins for one <b>{{ game_currency }}</b>

  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <b style="color: red">{{ form.non_field_errors }}</b>
    <input type="submit" value="Sell for {{ game_currency }}" />
  </form>
  <br/><br/>
  {% if coin_conversion_history %}
    Last 10
    <table class="data-table">
      <thead>
        <td><b>timestamp</b></td>
        <td><b>coins</b></td>
        <td><b>Inv {{ game_currency }}</b></td>
        <td><b>Wth {{ game_currency }}</b></td>
      </thead>
      {% for conversion in coin_conversion_history %}
        <tr>
          <td>{{ conversion.timestamp|date:"Y-m-d H:i" }}</td>
          <td class="numeric">{{ conversion.data.coins }}</td>
          <td class="numeric">{{ conversion.amount|floatformat:"3" }}</td>
          <td class="numeric">{{ conversion.data.withdrawal_gc|floatformat:"3"|default:"<i>missing</i>" }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>haven't converted any yet</p>
  {% endif %}


{% endblock %}