{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <h2>Store</h2>
    <ul>
     {% for actor in sellable_actors %}
      <li>
       <form action="{% url 'buy' %}" method="post">{% csrf_token %}
         {{ form }}
         You have <b>{{ actor.sum_user_owned }}</b> of
         <img src="{% static actor.image_path %}">"{{ actor.name }}"
         <i>price</i> <b>{{ actor.price|floatformat:"0" }}</b> {{ game_currency }}
         <i>ouput</i> <b>{{ actor.output|floatformat:"0" }}</b> coins/hour
         &nbsp;&nbsp;&nbsp;
         <input type="hidden" id="id_actor" name="actor" class="hidden_id" value="{{ actor.pk }}" />
         <input type="hidden" id="id_user" name="user" class="hidden_id" value="{{ user.pk }}" />
         <input type="submit" name="{{ actor.pk }}" value="Buy for {{ actor.price }}"  />
         <b style="color: red">{{ form.non_field_errors }}</b>
        </form>
       </li>
     {% endfor %}
     </ul>
    {% if actor_procurement_history %}
      Last 10 bought
      <table class="data-table">
        <thead>
            <td><b>timestamp</b></td><td><b>actor</b></td><td><b>price ({{ game_currency }})</b></td>
        </thead>
        {% for bought in actor_procurement_history %}
            <tr>
                <td>{{ bought.timestamp|date:"Y-m-d H:i" }}</td>
                <td>{{ bought.actor.name }}</td>
                <td>{{ bought.price }}</td>
            </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>haven't bought any yet</p>
    {% endif %}

{% endblock %}