{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <h2>Store</h2>
    {% for actor in sellable_actors %}
      <form action="" method="post">{% csrf_token %}
        <li>
          You have <b>{{ actor.sum_user_owned }}</b> of
          <img src="{% static actor.image_path %}">"{{ actor.name }}"
          <i>price</i> <b>{{ actor.price|floatformat:"0" }}</b> {{ game_currency }}
          <i>ouput</i> <b>{{ actor.output|floatformat:"0" }}</b> coins/hour
          &nbsp;&nbsp;&nbsp;
          <input type="hidden" id="id_actor" class="hidden_id" name="actor" value="{{ actor.pk }}" />
          <input type="hidden" id="id_user" class="hidden_id" name="user" value="{{ user.pk }}" />
          <input type="submit" value="Buy for {{ actor.price }}"  />
        </li>
      </form>
    {% endfor %}
    <b style="color: red">{{ form.non_field_errors }}</b>
    <br/><br/><br/>
    {% if actor_procurement_history %}
      Last 10
      <table style="width: 80%;">
        <thead>
            <td><b>timestamp</b></td><td><b>actor</b></td><td><b>price ({{ game_currency }})</b></td>
        </thead>
        {% for bought in actor_procurement_history %}
            <tr>
                <td>{{ bought.timestamp|date:"Y-m-d H:i" }}</td>
                <td>{{ bought.actor.name }}</td>
                <td>{{ bought.price }}</td>
            </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>haven't bought any yet</p>
    {% endif %}

{% endblock %}