{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <h2>Store</h2>
    {% for actor in sellable_actors %}
      <form action="" method="post">{% csrf_token %}
        <li>
          <img src="{% static actor.image_path %}">"{{ actor.name }}"
          <i>price</i> <b>{{ actor.price|floatformat:"0" }}</b> {{ game_currency }}
          <i>ouput</i> <b>{{ actor.output|floatformat:"0" }}</b> coins/hour
          &nbsp;&nbsp;&nbsp;
          <input type="hidden" id="id_actor" class="hidden_id" name="actor" value="{{ actor.pk }}" />
{#          <input type="hidden" id="id_user" class="hidden_id" name="user" value="{{ user.pk }}" />#}
          <input type="submit" class="btn btn-success" value="Buy for {{ actor.price }}"  />
        </li>
      </form>
    {% endfor %}
    <b style="color: red">{{ form.non_field_errors }}</b>
    <br/>
    <div style="border: 1px solid black; width: 100%">
      {% for owned in owned_actors %}
        <div style="display: inline-block; padding: 5px 7px; margin: 5px 5px ; border: 1px dashed green; border-radius: 5px; background-color: #c0e8c7 ">
          {# TODO styles to style.css #}
          <img src="{% static owned.actor.image_path %}" alt="" style="vertical-align: middle"/>
          <span><b style="font-size: xx-large;vertical-align: middle">{{ owned.num_actors|stringformat:"02d" }}</b></span>
        </div>
      {% endfor %}
      
    </div>
    <br/><br/>
    {% if actor_procurement_history %}
      Last 10
      <table class="table table-hover table-condensed">
        <thead>
            <td><b>timestamp</b></td>
            <td><b>name</b></td>
            <td><b>price ({{ game_currency }})</b></td>
        </thead>
        {% for bought in actor_procurement_history %}
            <tr>
                <td>{{ bought.timestamp|date:"Y-m-d H:i:s" }}</td>
                <td>{{ bought.data.name|default:"<i>deleted</i>" }}</td>
                <td>{{ bought.amount }}</td>
            </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>You haven't bought any yet</p>
    {% endif %}

{% endblock %}