@import 'compass';
@import '../base/variables';

#gamestats {
  display: inline-block;
  border: 5px double #DFF2EE;
  position: absolute;
  top: 30px;
  left: $central-width - 150px;
  z-index: 20;
  overflow: hidden;
  padding: 4px 10px 0 10px;
  @include background-image(linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%));
  @include border-radius(20px);
  @include single-box-shadow(5px, 5px, 25px);
}