@import 'compass';
@import '../base/variables';

#userprofile {
  @include background-image(linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%));
  @include border-radius(20px);
  @include single-box-shadow(5px, 5px, 25px);

//  width: 200px;
//  height: 75px;
  border: 5px double #94be5c;
  display: inline-block;
  left: 50px;
  overflow: hidden;
  padding: 4px 10px 0;
  position: absolute;
  top: 30px;
  z-index: 20;
}
