body {
    color: #121312;
    font-size: 15px;

    font-family: 'Lucinda Sans Unicode',sans-serif;
    line-height: 1.5;
    text-align: left;
    margin: 0 0;
}

.wrap {
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    margin: 0 auto;
    width: 70%;
    float: right;
}

.sidebar {
    width: 25%;
    float: left;
    padding: 0;
}

.sidemenu {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(223, 242, 238);
    padding: 7px 5px;
    margin-bottom: 20px;
}

.gamestats {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(191, 240, 244);
    padding: 5px 5px;
    margin: 15px 0;
    font-size: smaller;
}

.gamestats ul {
    list-style: none;
    padding: 5px 15px;
    margin: 0;
}

.sidemenu ul {
    list-style-type: none;
}

.footer {
    clear: both;
    background: url("/static/img/footer_bg.png") no-repeat;
    height: 109px;
    width: 100%;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

.header {
    clear: both;
    background: url("/static/img/header_bg.jpg") no-repeat;
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
}

.userprofile {
    width: 75%;
    background-color: #1a94d6;
    background: linear-gradient(to bottom, #cedfe6 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C */
    font-size: 80%;
    border-radius: 7px;
    margin: 0 auto;
    float: none;
    padding: 5px 1px 1px 15px;
}

.userprofile ul {
    text-align: left;
    padding: 0;
    /*margin: 0;*/

}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #1a94d6;
}

a:hover, a:active {
     color: #797979;
 }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.data-table {
    width: 90%;
    text-align: center;
    font-size: smaller
}


