{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
  <h1>Добро пожаловать на инвестиционную игру Красотки.</h1>
  <br/>
  После регистрации Вы получаете Салон красоты, которым Вы будете управлять. Доходность в нашем проекте на прямую
  зависит от суммы Ваших инвестиций и составляет от 30% до 65% в месяц!!!<br/>
  <br/>
  <h2>Наши Преимущества:</h2>
  {#  TODO style #}
  <ul style="list-style-type: initial; margin-left: 2.5em; line-height: 2em;">
  <li>Мы принимаем и выплачиваем только DOGEcoin.</li>
  <li>Нет баллов и ограничений на вывод!</li>
  <li>Открытая статистика - Вы всегда в курсе о текущем состоянии игрового резерва в игре.  Выгодные условия - возможность
  многократно приумножать свои вложения. Мы обещаем от 30% до 65% в месяц!. И это без бонусов и акций! Рост резерва - за
  счет выделения средств на рекламу и привлечения новых игроков - игроками, работающих по партнерской программе.</li>
  <li>Оперативная поддержка. Не пропусти, проводится акция "Зарегистрируйся сейчас и получи Паркмахера!"</li>
  </ul>

  <h2>Об Игре:</h2>
  Красотки - экономическая онлайн игра с выводом средств. Окунитесь в атмосферу экономической онлайн игры и создайте
  свой салон красоты, который всегда будет приносить Вам реальные деньги. В данной игре Вам нужно нанимать мастеров .
  Каждый мастер зарабатывает монеты, которые можно обменять на золото. Золото можно продавать и получить DOGEcoin. Все
  мастера  зарабатывают  определенное количество монет, чем они дороже, тем больше зарабатывают монет.
  <br/>

  <h2>Начни Игру:</h2>
  Начать играть можно без затрат. При регистрации мы дарим всем "Паркмахера" в подарок. Ежедневные бонусы, лотерея,
  конкурсы. Так же предусмотрена партнерская программа. Приглашайте в игру своих друзей и знакомых. За каждое пополнение
  баланса партнерами, Вы будете получать 25% от суммы их пополнения. Автоматический ввод в игру и вывод денег на Ваш
  DOGEcoin адрес. Ваш Салон красоты будет приносить прибыль всегда.

  <br/><br/>
  <a href="{% static "test.txt" %}">{% trans "test link" %}</a>
{% endblock %}